In [1]:
import pandas as pd
from google.cloud import bigquery
from IPython.display import display
from IPython.display import Markdown

import matplotlib.pyplot as plt
import seaborn as sns

### Import function: Interactive SQL Query to Pandas DataFrame Converter

In [2]:
# Import the custom query_df function for executing BigQuery queries
from query_functions import query_df
from query_functions import run_query # just run the query, no df no print [INSERT, UPDATE, DELETE...}]

### Datasets and Tables

In [3]:
# Catalonian mobile coverage (2015-2017)
mobile_data_cleaned = "bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned"

# Per capita income by catalan province (2015-2017)
percapita_income = "bq-analyst-230590.project_cat_mobile_coverage_2015_2017.cat_percapita_income_by_province_2015_2017"

# Catalan population and density by province (2015-2017)
pop_density = "bq-analyst-230590.project_cat_mobile_coverage_2015_2017.cat_pop_by_province_2015_2017"

### Preview datasets

Mobile Data Cleaned

In [4]:
# SQL query:
query = f"""
    SELECT *
    FROM `{mobile_data_cleaned}`
    LIMIT 100
    """
# DataFrame name
df_name = "mob_cov_data"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT *
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`
    LIMIT 100

Dataframe: **mob_cov_data**

,date,hour,lat,long,signal,network,operator,status,description,net,...,precission,provider,activity,postal_code,town_name,position_geom,province,year,month,hour_24h
0,2015-09-10,06:18:21,41.64901,2.43350,7,EE,EE,2,STATE_EMERGENCY_ONLY,2G,...,20.0,GPS,IN_VEHICLE,081069,Llinars del Vallès,POINT(2.4335 41.64901),Barcelona,2015,9,6
1,2015-11-13,11:46:51,41.29062,2.08105,27,EE,EE,0,STATE_IN_SERVICE,Undefined net,...,10.0,GPS,ON_FOOT,081691,el Prat de Llobregat,POINT(2.08105 41.29062),Barcelona,2015,11,11
2,2015-09-08,23:23:39,41.69770,2.74608,19,EE,EE,2,STATE_EMERGENCY_ONLY,2G,...,29.0,GPS,IN_VEHICLE,082845,Tordera,POINT(2.74608 41.6977),Barcelona,2015,9,23
3,2015-09-10,06:17:19,41.65941,2.45505,7,EE,EE,2,STATE_EMERGENCY_ONLY,3G,...,31.0,GPS,IN_VEHICLE,082943,Vallgorguina,POINT(2.45505 41.65941),Barcelona,2015,9,6
4,2015-09-09,19:31:21,41.80497,2.77780,4,EE,EE,0,STATE_IN_SERVICE,2G,...,30.0,GPS,STILL,171931,Sils,POINT(2.7778 41.80497),Girona,2015,9,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2015-06-09,23:56:09,41.40220,2.20595,18,Movistar,ONO,0,STATE_IN_SERVICE,2G,...,29.0,Fused,STILL,080193,Barcelona,POINT(2.20595 41.4022),Barcelona,2015,6,23
96,2015-05-23,18:27:09,41.43917,2.20023,14,Movistar,ONO,2,STATE_EMERGENCY_ONLY,3G,...,8.0,GPS,ON_FOOT,080193,Barcelona,POINT(2.20023 41.43917),Barcelona,2015,5,18
97,2015-07-03,16:47:57,41.40286,2.14791,11,Movistar,ONO,2,STATE_EMERGENCY_ONLY,3G,...,12.0,GPS,IN_VEHICLE,080193,Barcelona,POINT(2.14791 41.40286),Barcelona,2015,7,16
98,2015-03-12,15:08:17,41.41197,2.21703,25,Movistar,ONO,0,STATE_IN_SERVICE,2G,...,8.0,GPS,STILL,080193,Barcelona,POINT(2.21703 41.41197),Barcelona,2015,3,15
99,2015-03-31,21:07:14,41.43041,2.18616,13,Movistar,ONO,2,STATE_EMERGENCY_ONLY,2G,...,39.0,GPS,STILL,080193,Barcelona,POINT(2.18616 41.43041),Barcelona,2015,3,21

In [5]:
mobdata = query_df(query, df_name)
mobdata.columns

Query:

    SELECT *
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`
    LIMIT 100

Dataframe: **mob_cov_data**

Index(['date', 'hour', 'lat', 'long', 'signal', 'network', 'operator',
       'status', 'description', 'net', 'speed', 'satellites', 'precission',
       'provider', 'activity', 'postal_code', 'town_name', 'position_geom',
       'province', 'year', 'month', 'hour_24h'],
      dtype='object')

In [6]:
# SQL query: count total rows
query = f"""
    SELECT COUNT(*) total_rows
    FROM `{mobile_data_cleaned}`
    """
# DataFrame name
df_name = "count_data"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT COUNT(*) total_rows
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`

Dataframe: **count_data**

   total_rows
0    10643906

Per Capita Income

In [7]:
# SQL query:
query = f"""
    SELECT *
    FROM `{percapita_income}`
    """
# DataFrame name
df_name = "percapita_income"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT *
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.cat_percapita_income_by_province_2015_2017`

Dataframe: **percapita_income**

    year   province  per_capita_income
0   2015     Girona              25200
1   2015     Lleida              20136
2   2015  Tarragona              22486
3   2015  Barcelona              27214
4   2016  Barcelona              27913
5   2016     Girona              25598
6   2016  Tarragona              23130
7   2016     Lleida              20713
8   2017  Barcelona              28481
9   2017     Lleida              21091
10  2017  Tarragona              23534
11  2017     Girona              25992

Pop Density

In [8]:
# SQL query:
query = f"""
    SELECT *
    FROM `{pop_density}`
    LIMIT 100
    """
# DataFrame name
df_name = "population_density"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT *
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.cat_pop_by_province_2015_2017`
    LIMIT 100

Dataframe: **population_density**

       province  year  population  sq_km  density_per_sq_km
0          None  2017    385000.0    380                NaN
1          None  2017    385000.0    380                NaN
2          None  2017    385000.0    380                NaN
3          None  2016    420000.0    400                NaN
4          None  2016    420000.0    400                NaN
5          None  2016    420000.0    400                NaN
6          None  2014    530000.0    490                NaN
7          None  2014    530000.0    490                NaN
8          None  2014    530000.0    490                NaN
9          None  2015    600000.0    500                NaN
10         None  2015    600000.0    500                NaN
11         None  2015    600000.0    500                NaN
12       Girona  2017    766705.0   5908              129.8
13       Girona  2016    766273.0   5908              129.7
14       Girona  2015    765783.0   5908              129.6
15       Lleida  2017    741884.0  12172               61.0
16       Lleida  2016    742099.0  12172               61.0
17       Lleida  2015    742138.0  12172               61.0
18     Pirineus  2015         NaN  10000                NaN
19     Pirineus  2015         NaN  10000                NaN
20    Barcelona  2016   5635085.0   7726              729.4
21    Barcelona  2015   5618162.0   7726              727.2
22    Barcelona  2017   5652301.0   7726              731.6
23    Tarragona  2015    811089.0   6303              128.7
24    Tarragona  2017    810600.0   6303              128.6
25    Tarragona  2016    810947.0   6303              128.7
26  Costa Brava  2017         NaN    678                NaN
27  Costa Brava  2017         NaN    678                NaN

### Execute queries: Exploratory Data Analysis (EDA)

**Category 1: Filtering and Sorting**
1. Retrieve records from the '{mobile_2015_2017}' table for the year 2016 and sort them in descending order based on the 'signal' column.
2. Retrieve all records from the '{mobile_2015_2017}' table for the year 2016 where the signal strength is above a threshold of 80.
3. Retrieve records from the '{mobile_2015_2017}' table for the year 2017 where 'network' is '4G,' 'status' is 'connected,' and 'speed' is greater than 10.

**Category 2: Aggregation**
1. Calculate the average 'speed' of mobile data in the '{mobile_2015_2017}' table for the year 2017.
2. Calculate the average signal strength (signal) for each month in the year 2017 and order the results in descending order.
3. Calculate the percentage of records where the status is 'connected' in the '{mobile_2015_2017}' table for the year 2017.

**Category 3: Join Operations**
1. Join the '{mobile_2015_2017}' table with the '{pop_density}' table to retrieve records from both tables for the year 2016.
2. Calculate the average signal strength (signal) for each province in the year 2016. Join this data with the "{pop_density}" table to find the population density for each province in 2016.
3. Find the province with the best 4G network coverage (highest number of records with '4G' in the network column) in the year 2015.
4. Find the province with the highest average signal strength (signal) in the year 2017. Then, join this result with the "{percapita_income}" table to get the per capita income for that province in 2017.
5. Calculate the correlation coefficient between the average signal strength (signal) and population density in the year 2016 for all provinces.
6. Calculate the correlation coefficient between the average signal strength (signal) and per capita income for all provinces in the year 2017.
7. Group the data in the '{mobile_2015_2017}' table by network type (e.g., 2G, 3G, 4G) and calculate the average signal strength for each type. Join this data with the "{percapita_income}" table to compare the per capita income by network type in the year 2017.

**Category 4: Subqueries**
1. Write a SQL subquery to find the provinces in the '{pop_density}' table where the population in 2016 is higher than the average population for all provinces.

**Category 5: Grouping and Aggregation**
1. Group the '{mobile_2015_2017}' table by 'network' type and calculate the average 'signal' strength and the maximum 'speed' for each network type in the year 2017.

**Category 6: Complex Filtering**
1. Retrieve records from the '{mobile_2015_2017}' table for the year 2017 where 'network' is '4G,' 'status' is 'connected,' and 'speed' is greater than 10.

**Category 7: Data Validation**
1. Identify and list all records in the '{mobile_2015_2017}' table with missing values in the 'provider' column.

**Category 8: Case Statements**
1. Update the 'status' column in the '{mobile_2015_2017}' table, setting it to 'high' when the 'signal' is above 70, 'medium' when between 50 and 70, and 'low' when below 50.

**Category 9: Statistical Aggregate Functions**
1. Calculate the Pearson correlation coefficient between 'signal' strength and 'speed' in the '{mobile_2015_2017}' table for the year 2017.
2. Calculate the covariance between 'signal' strength and 'speed' in the '{mobile_2015_2017}' table for the year 2017.
3. Calculate the standard deviation of 'signal' strength in the '{mobile_2015_2017}' table for the year 2017.
4. Calculate the variance of 'signal' strength in the '{mobile_2015_2017}' table for the year 2017.

**Category 10: Window Functions**
1. Rank the provinces in the '{pop_density}' table based on population density in descending order for the year 2016.
2. Calculate the dense rank of provinces in the '{percapita_income}' table based on per capita income in ascending order for the year 2017.
3. Divide the provinces in the '{mobile_2015_2017}' table into quartiles based on 'speed' in the year 2017 using the ntile() window function.

#### 1. Filtering and Sorting

1. Retrieve records from the '{mobile_2015_2017}' table for the year 2016 and sort them in descending order based on the 'signal' column.

In [9]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT *
    FROM `{mobile_data_cleaned}`
    WHERE year = 2016
    ORDER BY signal DESC
    LIMIT 1000
    """
# DataFrame name
df_name = "mob_data_2016"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT *
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`
    WHERE year = 2016
    ORDER BY signal DESC
    LIMIT 1000

Dataframe: **mob_data_2016**

,date,hour,lat,long,signal,network,operator,status,description,net,...,precission,provider,activity,postal_code,town_name,position_geom,province,year,month,hour_24h
0,2016-09-30,18:28:15,41.45074,2.18854,99,Movistar,Movistar,2,STATE_EMERGENCY_ONLY,3G,...,17.0,GPS,IN_VEHICLE,080193,Barcelona,POINT(2.18854 41.45074),Barcelona,2016,9,18
1,2016-06-22,22:06:43,41.46159,2.17073,99,Orange,Jazztel,2,STATE_EMERGENCY_ONLY,3G,...,12.0,GPS,STILL,080193,Barcelona,POINT(2.17073 41.46159),Barcelona,2016,6,22
2,2016-10-05,20:16:29,41.41717,2.21349,99,Movistar,Movistar,2,STATE_EMERGENCY_ONLY,3G,...,8.0,GPS,IN_VEHICLE,080193,Barcelona,POINT(2.21349 41.41717),Barcelona,2016,10,20
3,2016-10-01,15:28:40,41.53609,2.08220,99,Movistar,Movistar,2,STATE_EMERGENCY_ONLY,2G,...,13.0,GPS,STILL,082384,Sant Quirze del Vallès,POINT(2.0822 41.53609),Barcelona,2016,10,15
4,2016-09-30,18:50:43,41.42698,2.22696,99,Movistar,Movistar,2,STATE_EMERGENCY_ONLY,2G,...,18.0,GPS,TILTING,081944,Sant Adrià de Besòs,POINT(2.22696 41.42698),Barcelona,2016,9,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2016-09-28,18:55:17,41.44715,2.18903,99,Movistar,Movistar,2,STATE_EMERGENCY_ONLY,3G,...,20.0,GPS,IN_VEHICLE,080193,Barcelona,POINT(2.18903 41.44715),Barcelona,2016,9,18
996,2016-10-05,19:35:28,41.43449,2.18351,99,Movistar,Movistar,2,STATE_EMERGENCY_ONLY,2G,...,13.0,GPS,IN_VEHICLE,080193,Barcelona,POINT(2.18351 41.43449),Barcelona,2016,10,19
997,2016-09-30,17:36:41,41.46220,2.17078,99,Movistar,Movistar,2,STATE_EMERGENCY_ONLY,2G,...,7.0,GPS,TILTING,081252,Montcada i Reixac,POINT(2.17078 41.4622),Barcelona,2016,9,17
998,2016-10-05,13:42:43,41.40514,2.19042,99,Movistar,Movistar,2,STATE_EMERGENCY_ONLY,2G,...,12.0,GPS,TILTING,080193,Barcelona,POINT(2.19042 41.40514),Barcelona,2016,10,13
999,2016-10-01,11:31:00,41.43167,2.18368,99,Movistar,Movistar,2,STATE_EMERGENCY_ONLY,3G,...,11.0,GPS,STILL,080193,Barcelona,POINT(2.18368 41.43167),Barcelona,2016,10,11

2. Retrieve all records from the '{mobile_2015_2017}' table for the year 2016 where the signal strength is above a threshold of 100 and net is not undefined.

In [10]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT 
        date,
        operator,
        net,
        signal
    FROM `{mobile_data_cleaned}`
    WHERE 
        year = 2016
        AND signal > 50
        AND NET != 'Undefined net'
    ORDER BY signal DESC
    LIMIT 1000
    """
# DataFrame name
df_name = "mob_data_2016_greater_t_50"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT
        date,
        operator,
        net,
        signal
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`
    WHERE
        year = 2016
        AND signal > 50
        AND NET != 'Undefined net'
    ORDER BY signal DESC
    LIMIT 1000

Dataframe: **mob_data_2016_greater_t_50**

           date  operator net  signal
0    2016-06-23   Jazztel  3G      99
1    2016-10-01  Movistar  2G      99
2    2016-09-30  Movistar  2G      99
3    2016-10-01  Movistar  2G      99
4    2016-06-23   Jazztel  3G      99
..          ...       ...  ..     ...
995  2016-03-06  Movistar  3G      65
996  2016-01-28  Movistar  4G      65
997  2016-09-30  Movistar  3G      65
998  2016-11-20  Vodafone  4G      65
999  2016-09-17  Movistar  4G      65

[1000 rows x 4 columns]

3. Retrieve records from the '{mobile_2015_2017}' table for the year 2017 where 'net' is '4G,' 'description' is 'STATE_IN_SERVICE,' and 'speed' is greater than 100.

In [11]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT
      date,
      operator,
      net,
      description,
      signal,
      speed
    FROM `{mobile_data_cleaned}`
    WHERE
      year = 2017
      AND net = '4G'
      AND description = 'STATE_IN_SERVICE'
      AND speed > 100.0
    ORDER BY 6 DESC
    LIMIT 1000;
    """
# DataFrame name
df_name = "filtered_data"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT
      date,
      operator,
      net,
      description,
      signal,
      speed
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`
    WHERE
      year = 2017
      AND net = '4G'
      AND description = 'STATE_IN_SERVICE'
      AND speed > 100.0
    ORDER BY 6 DESC
    LIMIT 1000;

Dataframe: **filtered_data**

           date  operator net       description  signal  speed
0    2017-07-24  Movistar  4G  STATE_IN_SERVICE      26  253.1
1    2017-05-28  Vodafone  4G  STATE_IN_SERVICE      23  244.6
2    2017-02-22    Orange  4G  STATE_IN_SERVICE      14  242.6
3    2017-03-31    Orange  4G  STATE_IN_SERVICE      19  239.6
4    2017-05-10  Masmovil  4G  STATE_IN_SERVICE      13  229.5
..          ...       ...  ..               ...     ...    ...
570  2017-05-14  Vodafone  4G  STATE_IN_SERVICE       7  100.3
571  2017-07-15  Vodafone  4G  STATE_IN_SERVICE       9  100.3
572  2017-05-05    Orange  4G  STATE_IN_SERVICE      11  100.3
573  2017-07-25    Orange  4G  STATE_IN_SERVICE      12  100.2
574  2017-06-16  Movistar  4G  STATE_IN_SERVICE       6  100.1

[575 rows x 6 columns]

#### 2. Aggregation

1. Calculate the average, maximum and standard deviation 'speed' of mobile data in the 'mobile 2015_2017' table for the year 2017.

In [12]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT 
        ROUND(AVG(speed),2) avg_speed_2017,
        MAX(speed) max_speed_2017,
        ROUND(STDDEV_POP(speed),2) std_speed_2017
    FROM `{mobile_data_cleaned}`
    WHERE year = 2017
    """
# DataFrame name
df_name = "metrics_speed_2017"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT
        ROUND(AVG(speed),2) avg_speed_2017,
        MAX(speed) max_speed_2017,
        ROUND(STDDEV_POP(speed),2) std_speed_2017
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`
    WHERE year = 2017

Dataframe: **metrics_speed_2017**

   avg_speed_2017  max_speed_2017  std_speed_2017
0           25.18           254.9           34.43

2. Calculate the average signal strength (signal) for each month in the year 2017 and order the results in descending order.

In [13]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT 
        EXTRACT(MONTH FROM date) month,
        ROUND(AVG(signal),2) avg_signal_2017
    FROM `{mobile_data_cleaned}`
    WHERE year = 2017
    GROUP BY 1
    ORDER BY 2 DESC
    """
# DataFrame name
df_name = "month_avg_signal_2017"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT
        EXTRACT(MONTH FROM date) month,
        ROUND(AVG(signal),2) avg_signal_2017
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`
    WHERE year = 2017
    GROUP BY 1
    ORDER BY 2 DESC

Dataframe: **month_avg_signal_2017**

    month  avg_signal_2017
0       2            13.27
1       1            13.10
2       3            12.90
3       4            12.86
4       5            12.72
5       7            12.61
6       6            12.55
7       8            12.46
8      12            12.33
9      11            12.25
10      9            12.17
11     10            12.16

3. Calculate the percentage of records where the activity is 'IN_VEHICLE' and net is NOT 'Undefined net' in the '{mobile_2015_2017}' table for the year 2017.

In [14]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
-- The main query selects the 'net' column and calculates the percentage of records where the activity is 'IN_VEHICLE'
-- and the 'net' is not 'Undefined net' for the year 2017.

SELECT
    net,
    ROUND((in_vehicle_2017_count / total_count * 100), 2) AS in_vehicle_2017_perc
FROM
    
    -- The first subquery (in_vehicle_subquery) calculates the count of records GROUPED BY 'net' where the activity is
    -- 'IN_VEHICLE' and the 'net' is not 'Undefined net' for the year 2017.
     
    (SELECT 
        net,
        COUNT(*) AS in_vehicle_2017_count
    FROM `{mobile_data_cleaned}`
    WHERE year = 2017
        AND activity = 'IN_VEHICLE'
        AND net != 'Undefined net'
    GROUP BY 1) in_vehicle_subquery,
    
    -- The second subquery (total_subquery) calculates the total count of records where the activity is 'IN_VEHICLE' 
    -- and the 'net' is not 'Undefined net' for the year 2017.
    
    (SELECT COUNT(*) AS total_count
     FROM `{mobile_data_cleaned}`
     WHERE year = 2017
        AND activity = 'IN_VEHICLE'
        AND net != 'Undefined net') total_subquery;

    """
# DataFrame name
df_name = "in_vehicle_2017_perc"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

-- The main query selects the 'net' column and calculates the percentage of records where the activity is 'IN_VEHICLE'
-- and the 'net' is not 'Undefined net' for the year 2017.

SELECT
    net,
    ROUND((in_vehicle_2017_count / total_count * 100), 2) AS in_vehicle_2017_perc
FROM

    -- The first subquery (in_vehicle_subquery) calculates the count of records GROUPED BY 'net' where the activity is
    -- 'IN_VEHICLE' and the 'net' is not 'Undefined net' for the year 2017.

    (SELECT
        net,
        COUNT(*) AS in_vehicle_2017_count
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`
    WHERE year = 2017
        AND activity = 'IN_VEHICLE'
        AND net != 'Undefined net'
    GROUP BY 1) in_vehicle_subquery,

    -- The second subquery (total_subquery) calculates the total count of records where the activity is 'IN_VEHICLE'
    -- and the 'net' is not 'Undefined net' for the year 2017.

    (SELECT COUNT(*) AS total_count
     FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`
     WHERE year = 2017
        AND activity = 'IN_VEHICLE'
        AND net != 'Undefined net') total_subquery;

Dataframe: **in_vehicle_2017_perc**

  net  in_vehicle_2017_perc
0  3G                 26.20
1  2G                 15.98
2  4G                 57.82

#### 3. Join Operations

1. Join the '{mobile_2015_2017}' table with the '{pop_density}' table to retrieve records from both tables for the year 2016.

In [15]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT 
      m.province,
      p.sq_km,
      p.population,
      p.density_per_sq_km,
      ROUND(AVG(m.signal),2) avg_signal
    FROM `{mobile_data_cleaned}` m
    JOIN `{pop_density}` p 
      ON m.province = p.province AND m.year = p.year
    WHERE m.year = 2016
    GROUP BY m.province, p.sq_km, p.population, p.density_per_sq_km
    ORDER BY p.density_per_sq_km DESC;
    """
# DataFrame name
df_name = "joined_pop_mob"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT
      m.province,
      p.sq_km,
      p.population,
      p.density_per_sq_km,
      ROUND(AVG(m.signal),2) avg_signal
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned` m
    JOIN `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.cat_pop_by_province_2015_2017` p
      ON m.province = p.province AND m.year = p.year
    WHERE m.year = 2016
    GROUP BY m.province, p.sq_km, p.population, p.density_per_sq_km
    ORDER BY p.density_per_sq_km DESC;

Dataframe: **joined_pop_mob**

    province  sq_km  population  density_per_sq_km  avg_signal
0  Barcelona   7726     5635085              729.4       13.38
1     Girona   5908      766273              129.7       11.94
2  Tarragona   6303      810947              128.7       12.70
3     Lleida  12172      742099               61.0       12.83

2. Calculate the average signal strength (signal) for each province in the year 2016. Join this data with the "{pop_density}" table to find the population density for each province in 2016.

3. Find the province with the best 4G network coverage (highest number of records with '4G' in the network column) in the year 2015.

4. Find the province with the highest average signal strength (signal) in the year 2017. Then, join this result with the "{percapita_income}" table to get the per capita income for that province in 2017.

5. Calculate the correlation coefficient between the average signal strength (signal) and population density in the year 2016 for all provinces.

6. Calculate the correlation coefficient between the average signal strength (signal) and per capita income for all provinces in the year 2017.

7. Group the data in the '{mobile_2015_2017}' table by network type (e.g., 2G, 3G, 4G) and calculate the average signal strength for each type. Join this data with the "{percapita_income}" table to compare the per capita income by network type in the year 2017.

#### 4. Subqueries

Write a SQL subquery to find the provinces in the 'pop density' table where the population in 2016 is higher than the average population for all provinces.

In [16]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT
      province,
      population
    FROM `{pop_density}`
    WHERE
      year = 2016
      AND population > (
        SELECT AVG(population)
        FROM `{pop_density}`
      );
    """
# DataFrame name
df_name = "pop_2016_greater_t_avg_pop"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT
      province,
      population
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.cat_pop_by_province_2015_2017`
    WHERE
      year = 2016
      AND population > (
        SELECT AVG(population)
        FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.cat_pop_by_province_2015_2017`
      );

Dataframe: **pop_2016_greater_t_avg_pop**

    province  population
0  Barcelona     5635085

#### 5. Grouping and Aggregation

6. Grouping and Aggregation:
   - Group the 'mobile 2015_2017' table by 'network' type and calculate the average 'signal' strength and the maximum 'speed' for each network type in the year 2017.

In [17]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT
      net,
      ROUND(AVG(signal),2) avg_signal,
      MAX(speed) max_speed
    FROM `{mobile_data_cleaned}`
    WHERE
      year = 2017
    GROUP BY 1;
    """
# DataFrame name
df_name = "net_avg_sign_and_max_speed_2017"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT
      net,
      ROUND(AVG(signal),2) avg_signal,
      MAX(speed) max_speed
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`
    WHERE
      year = 2017
    GROUP BY 1;

Dataframe: **net_avg_sign_and_max_speed_2017**

             net  avg_signal  max_speed
0             3G       13.38      254.9
1             4G       12.69      254.8
2             2G       12.46      254.7
3  Undefined net       12.14      254.1

#### 6. Complex Filtering

1. Retrieve records from the '{mobile_2015_2017}' table for the year 2017 where 'network' is '4G,' 'status' is 'connected,' and 'speed' is greater than 10.

In [18]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT
      date,
      operator,
      net,
      description,
      signal,
      speed
    FROM `{mobile_data_cleaned}`
    WHERE
      year = 2017
      AND net = '4G'
      AND description = 'STATE_IN_SERVICE'
      AND speed > 100.0
    ORDER BY 6 DESC
    LIMIT 1000;
    """
# DataFrame name
df_name = "filtered_data"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT
      date,
      operator,
      net,
      description,
      signal,
      speed
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`
    WHERE
      year = 2017
      AND net = '4G'
      AND description = 'STATE_IN_SERVICE'
      AND speed > 100.0
    ORDER BY 6 DESC
    LIMIT 1000;

Dataframe: **filtered_data**

           date  operator net       description  signal  speed
0    2017-07-24  Movistar  4G  STATE_IN_SERVICE      26  253.1
1    2017-05-28  Vodafone  4G  STATE_IN_SERVICE      23  244.6
2    2017-02-22    Orange  4G  STATE_IN_SERVICE      14  242.6
3    2017-03-31    Orange  4G  STATE_IN_SERVICE      19  239.6
4    2017-05-10  Masmovil  4G  STATE_IN_SERVICE      13  229.5
..          ...       ...  ..               ...     ...    ...
570  2017-05-14  Vodafone  4G  STATE_IN_SERVICE       7  100.3
571  2017-07-15  Vodafone  4G  STATE_IN_SERVICE       9  100.3
572  2017-05-05    Orange  4G  STATE_IN_SERVICE      11  100.3
573  2017-07-25    Orange  4G  STATE_IN_SERVICE      12  100.2
574  2017-06-16  Movistar  4G  STATE_IN_SERVICE       6  100.1

[575 rows x 6 columns]

#### 7. Data Validation

1. Identify and list all records in the '{mobile_2015_2017}' table with missing values in the 'provider' column.

In [19]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT
      *
    FROM `{mobile_data_cleaned}`
    WHERE
      provider IS NULL
    LIMIT 1000;
    """
# DataFrame name
df_name = "null_provider"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT
      *
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`
    WHERE
      provider IS NULL
    LIMIT 1000;

Dataframe: **null_provider**

Empty DataFrame
Columns: [date, hour, lat, long, signal, network, operator, status, description, net, speed, satellites, precission, provider, activity, postal_code, town_name, position_geom, province, year, month, hour_24h]
Index: []

[0 rows x 22 columns]

#### 8. Case Statements

1. Update the 'status' column in the '{mobile_2015_2017}' table, setting it to 'high' when the 'signal' is above 70, 'medium' when between 50 and 70, and 'low' when below 50.

In [20]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT
      max(signal),
      min(signal),
      avg(signal)
    FROM `{mobile_data_cleaned}`
    """
# DataFrame name
df_name = "null_provider"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT
      max(signal),
      min(signal),
      avg(signal)
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`

Dataframe: **null_provider**

   f0_  f1_        f2_
0   99    0  13.216373

In [28]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

# Create a new column to store the updated value
query = f"""
    ALTER TABLE `{mobile_data_cleaned}`
    ADD COLUMN signal_eval STRING;
    """

# Execute the query
run_query(query)

Query successfully executed, and the table has been updated.

In [29]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

# Update values
query = f"""
    UPDATE `{mobile_data_cleaned}`
    SET signal_eval =
        CASE
            WHEN signal < 13 THEN 'Under Avg'
            WHEN signal BETWEEN 13 AND 14 THEN 'On Avg'
            WHEN signal > 14 THEN 'Above Avg'
            END
        WHERE signal_eval IS NULL;
    """

# Execute the query and store the result in the DataFrame
run_query(query)

Query successfully executed, and the table has been updated.

In [30]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

# Check results
query = f"""
    SELECT
      signal,
      signal_eval
    FROM `{mobile_data_cleaned}`
    LIMIT 100
    """
# DataFrame name
df_name = "signal_eval"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT
      signal,
      signal_eval
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`
    LIMIT 100

Dataframe: **signal_eval**

    signal signal_eval
0       15   Above Avg
1        8   Under Avg
2       10   Under Avg
3       15   Above Avg
4        5   Under Avg
..     ...         ...
95      25   Above Avg
96      14      On Avg
97      22   Above Avg
98      14      On Avg
99      14      On Avg

[100 rows x 2 columns]

In [ ]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

## Delete the added column
#query = f"""
#    ALTER TABLE `{mobile_data_cleaned}`
#    DROP COLUMN signal_eval;
#    """

## Execute the query
#run_query(query)

#### 9. Statistical Aggregate Functions

1. Calculate the Pearson correlation coefficient between 'signal' strength and 'speed' in the '{mobile_2015_2017}' table for the year 2017.

In [48]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT
      CORR(signal, speed) AS signal_speed,
      CORR(signal, hour_24h) AS signal_hour,
      CORR(signal, CAST(postal_code AS INT64)) AS signal_postalcode,
      CORR(lat, long) AS lat_long,
      CORR(precission, satellites) AS precision_satellites,
      CORR(precission, speed) AS precision_speed,
      CORR(precission, signal) AS precision_signal,
      CORR(precission, CAST(postal_code AS INT64)) AS precission_postalcode,
      CORR(satellites, CAST(postal_code AS INT64)) AS satellites_postalcode
    FROM `{mobile_data_cleaned}`
    """
# DataFrame name
df_name = "pearson_correlation"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Query:

    SELECT
      CORR(signal, speed) AS signal_speed,
      CORR(signal, hour_24h) AS signal_hour,
      CORR(signal, CAST(postal_code AS INT64)) AS signal_postalcode,
      CORR(lat, long) AS lat_long,
      CORR(precission, satellites) AS precision_satellites,
      CORR(precission, speed) AS precision_speed,
      CORR(precission, signal) AS precision_signal,
      CORR(precission, CAST(postal_code AS INT64)) AS precission_postalcode,
      CORR(satellites, CAST(postal_code AS INT64)) AS satellites_postalcode
    FROM `bq-analyst-230590.project_cat_mobile_coverage_2015_2017.mobile_data_2015_2017_cleaned`

Dataframe: **pearson_correlation**

,signal_speed,signal_hour,signal_postalcode,lat_long,precision_satellites,precision_speed,precision_signal,precission_postalcode,satellites_postalcode
0,-0.003648,0.001469,-0.048404,0.3986,-0.364724,-0.185271,-0.022847,-0.026723,0.016603

2. Calculate the covariance between 'signal' strength and 'speed' in the '{mobile_2015_2017}' table for the year 2017.

3. Calculate the standard deviation of 'signal' strength in the '{mobile_2015_2017}' table for the year 2017.

4. Calculate the variance of 'signal' strength in the '{mobile_2015_2017}' table for the year 2017.

#### 10. Window Functions

1. Rank the provinces in the '{pop_density}' table based on population density in descending order for the year 2016.

2. Calculate the dense rank of provinces in the '{percapita_income}' table based on per capita income in ascending order for the year 2017.

3. Divide the provinces in the '{mobile_2015_2017}' table into quartiles based on 'speed' in the year 2017 using the ntile() window function.

10. Multiple Join:

    - Join the 'mobile_2015_2017' table with the 'pop_density' and 'percapita_income' tables to create a unified dataset. The result should include information about mobile coverage, income per capita, and population density for each province in the year 2016. Perform a triple join to combine the data from these three tables into a single result set.

In [ ]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT
      m.province,
      m.year,
      ROUND(AVG(m.signal),2) avg_signal,
      ROUND(MAX(m.speed),2) max_speed,
      p.per_capita_income,
      d.density_per_sq_km pop_density_sq_km
    FROM `{mobile_data_cleaned}` m
    JOIN `{percapita_income}` p
        ON m.province = p.province
        AND m.year = p.year
    JOIN `{pop_density}` d
        ON m.province = d.province
        AND m.year = d.year
    GROUP BY 1,2,5,6
    ORDER BY 1,2 DESC;
    """
# DataFrame name
df_name = "triple_join_data"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

11. Different Joins and Count with NULL Values:

    - In the pop_density table, add a couple of rows with NULL values for the province column to simulate missing data. Then, perform the following join operations with the mobile_2015_2017 table:

In [ ]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

# pop_density columns: province, year, population, sq_km, density_per_sq_km

query = f"""
    INSERT INTO `{pop_density}`(year, population, sq_km)
    VALUES 
        (2015, 600000, 500),
        (2014, 530000, 490),
        (2016, 420000, 400),
        (2017, 385000, 380);
    
    INSERT INTO `{pop_density}`(province, year, sq_km)
    VALUES
        ('Costa Brava', 2017, 678),
        ('Pirineus', 2015, 10000)
    """
# DataFrame name
df_name = "added_null_province_rows"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

In [ ]:
# Check updated pop_density dataset

query = f"""
    SELECT *
    FROM `{pop_density}`
    """
# DataFrame name
df_name = "pop_density_with_nulls"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

    - a. LEFT JOIN: Count the number of records for each province and year, including provinces with NULL values in the pop_density table.

In [ ]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT
      d.province,
      d.year,
      COUNT(m.signal) activity_count
    FROM `{pop_density}` d
    LEFT JOIN `{mobile_data_cleaned}` m
        ON d.province = m.province
        AND d.year = m.year
    GROUP BY 1,2
    ORDER BY 1,2 DESC;
    """
# DataFrame name
df_name = "left_join"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Left Join: include all rows from {pop_density} with NULL values in the columns from {mobile_2015_2017}

    - b. RIGHT JOIN: Count the number of records for each province and year, excluding provinces with NULL values in the pop_density table.

In [ ]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT
      d.province,
      d.year,
      ROUND(AVG(m.signal),2) avg_signal,
      ROUND(MAX(m.speed),2) max_speed
    FROM `{pop_density}` d
    RIGHT JOIN `{mobile_data_cleaned}` m
        ON d.province = m.province
        AND d.year = m.year
    GROUP BY 1,2
    ORDER BY 1,2 DESC;
    """
# DataFrame name
df_name = "right_join"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Right Join: includes all rows from {mobile_2015_2017} and fill in NULL values from {pop_density} where there are no matches.

    - c. INNER JOIN: Count the number of records for each province and year, including provinces from the pop_density table and any additional data from the mobile_2015_2017 table.

In [ ]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT
      d.province,
      d.year,
      ROUND(AVG(m.signal),2) avg_signal,
      ROUND(MAX(m.speed),2) max_speed
    FROM `{pop_density}` d
    INNER JOIN `{mobile_data_cleaned}` m
        ON d.province = m.province
        AND d.year = m.year
    GROUP BY 1,2
    ORDER BY 1,2 DESC;
    """
# DataFrame name
df_name = "inner_join"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Inner Join: includes only records with matching province values in both tables and exclude rows with NULL values from {pop_density}.

    - d. FULL JOIN: Count the number of records for each province and year, including all available data from both tables.

In [ ]:
# Datasets: {mobile_data_cleaned}, {pop_density}, {percapita_income}

query = f"""
    SELECT
      d.province,
      d.year,
      ROUND(AVG(m.signal),2) avg_signal,
      ROUND(MAX(m.speed),2) max_speed
    FROM `{pop_density}` d
    FULL JOIN `{mobile_data_cleaned}` m
        ON d.province = m.province
        AND d.year = m.year
    GROUP BY 1,2
    ORDER BY 1,2 DESC;
    """
# DataFrame name
df_name = "full_join"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Full join: includes all rows from both tables and provide NULL values for {mobile_2015_2017} where there are no matches.

### Dates

Date range

In [ ]:
# SQL query
query = f"""
    SELECT
        MIN(date) AS first_date_recorded,
        MAX(date) AS last_date_recorded,
        DATE_DIFF(MAX(date), MIN(date), DAY) AS total_days_recorded
    FROM `{mobile_data_cleaned}`
    """
# DataFrame name
df_name = "date_range"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Top 10 dates with the highest activity

In [ ]:
# SQL query
query = f"""
    SELECT
      date,
      COUNT(*) AS record_count
    FROM `{mobile_data_cleaned}`
    GROUP BY date
    ORDER BY record_count DESC
    LIMIT 10
    """
# DataFrame name
df_name = "top_10_dates_act"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Monthly Activity Rank within Quarters and Across the Year

In [ ]:
# SQL query
query = f"""
    WITH MonthlyCounts AS (
        SELECT
            EXTRACT(QUARTER FROM date) AS quarter,
            EXTRACT(MONTH FROM date) AS month,
            COUNT(*) AS record_count
        FROM `{mobile_data_cleaned}`
        GROUP BY quarter, month
    )

    SELECT
      quarter,
      month,
      record_count,
      RANK() OVER (ORDER BY record_count DESC) AS month_rank
    FROM MonthlyCounts
    ORDER BY quarter, record_count DESC;
    """
# DataFrame name
df_name = "month_rank_df"

# Execute the query and store the result in the DataFrame
month_rank_df = query_df(query, df_name)

In [ ]:
# Create a custom color palette for each month within a quarter
palette = sns.color_palette("tab10", n_colors=12)  # Use n_colors=12 for 12 months

# Pivot the DataFrame to have months as columns for stacking
stacked_df = month_rank_df.pivot(index='quarter', columns='month', values='record_count')

# Bar plot with stacked bars for each quarter and different colors for months
plt.figure(figsize=(12, 6))
ax = stacked_df.plot(kind='bar', stacked=True, color=palette)
plt.title('Stacked Bar Plot of Quarter-wise Record Count')
plt.xlabel('Quarter')
plt.ylabel('Record Count')
plt.legend(title='Month', loc='upper right', bbox_to_anchor=(1.15, 1))
plt.ticklabel_format(style='plain', axis='y')  # Disable scientific notation on y-axis
plt.show()

In [ ]:
# Define custom color palettes for each quarter
colors_first_quarter = sns.color_palette("Blues", n_colors=3)  # Blue colors for months 1, 2, 3
colors_second_quarter = sns.color_palette("Greens", n_colors=3)  # Green colors for months 4, 5, 6
colors_third_quarter = sns.color_palette("Oranges", n_colors=3)  # Orange colors for months 7, 8, 9
colors_fourth_quarter = sns.color_palette("Purples", n_colors=3)  # Purple colors for months 10, 11, 12

# Pivot the DataFrame to have months as columns for stacking
stacked_df = month_rank_df.pivot(index='quarter', columns='month', values='record_count')

# Create a stacked bar plot with distinct colors for each month within a quarter
plt.figure(figsize=(12, 6))

# Loop through each quarter and plot stacked bars with the custom color palette
quarters = stacked_df.index
for quarter, color_palette in zip(quarters, [colors_first_quarter, colors_second_quarter, colors_third_quarter, colors_fourth_quarter]):
    quarter_data = stacked_df.loc[quarter]
    quarter_data.plot(kind='bar', stacked=True, color=color_palette, label=f'Quarter {quarter}')

# Calculate the overall average for all values
overall_average = stacked_df.stack().mean()

# Plot a red horizontal line for the overall average
plt.axhline(y=overall_average, color='red', linestyle='--', label=f'Avg. Overall')

plt.title('Stacked Bar Plot of Quarter-wise Record Count with Distinct Colors for Months')
plt.xlabel('Month')
plt.ylabel('Record Count')
plt.legend(title='Legend', loc='upper right', bbox_to_anchor=(1.15, 1))
plt.ticklabel_format(style='plain', axis='y')  # Disable scientific notation on y-axis
plt.show()

### Hours (not any longer in dataframe)

Hourly Period Counts

In [ ]:
# SQL query
query = f"""
    SELECT
      CASE
        WHEN EXTRACT(HOUR FROM hour) BETWEEN 0 AND 6 THEN 'Dawn'
        WHEN EXTRACT(HOUR FROM hour) BETWEEN 7 AND 12 THEN 'Morning'
        WHEN EXTRACT(HOUR FROM hour) BETWEEN 13 AND 18 THEN 'Afternoon'
        ELSE 'Night'
      END AS period,
      COUNT(*) AS record_count
    FROM `{mobile_data_cleaned}`
    GROUP BY 1
    ORDER BY 2 DESC
    """
# DataFrame name
df_name = "hourly_period_counts"

# Execute the query and store the result in the DataFrame
hourly_period_counts = query_df(query, df_name)

hourly_period_counts

In [ ]:
import plotly.express as px

# Define the custom order and colors
custom_order = ["Dawn", "Morning", "Afternoon", "Night"]

# Create an interactive pie chart with Plotly
fig = px.pie(hourly_period_counts, values='record_count', names='period', 
             title='Hourly Period Counts', 
             hover_data=['record_count'], 
             labels={'record_count': 'Record Count'},
             category_orders={"period": custom_order})

# Customize the layout (optional)
fig.update_traces(textinfo='percent+label', pull=[0.1, 0.1, 0.1, 0.1])

# Show the chart
fig.show()

# Save the plot as an HTML file in the 'Python Plots' folder
plot_file_path = "Python Plots/hourly_period_counts.html"
fig.write_html(plot_file_path)

[View the Plot](./Python%20Plots/hourly_period_counts.html)

### Towns and Province activity

Top 50 Towns with the Highest Mobile Activity Recorded

In [ ]:
# SQL query
query = f"""
    SELECT
      postal_code,
      town_name,
      COUNT(*) AS record_count
    FROM
      `{mobile_data_cleaned}`
    WHERE postal_code IS NOT NULL
    GROUP BY postal_code, town_name
    ORDER BY 3 DESC
    LIMIT 50
    """
# DataFrame name
df_name = "hourly_period_counts"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

In [ ]:
# SQL query
query = f"""
WITH ProvinceActivity AS (
  SELECT
      CASE
        WHEN LEFT(CAST(postal_code AS STRING), 2) = '08' THEN 'Barcelona'
        WHEN LEFT(CAST(postal_code AS STRING), 2) = '25' THEN 'Lleida'
        WHEN LEFT(CAST(postal_code AS STRING), 2) = '17' THEN 'Girona'
        WHEN LEFT(CAST(postal_code AS STRING), 2) = '43' THEN 'Tarragona'
        ELSE 'Not defined'
      END AS province,
      COUNT(*) AS record_count
  FROM `{mobile_data_cleaned}`
  GROUP BY province
)

SELECT
    province,
    record_count,
    ROUND((record_count / SUM(record_count) OVER ()) * 100,2) AS percentage
FROM ProvinceActivity
ORDER BY 2 DESC;
    """
# DataFrame name
df_name = "hourly_period_counts"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

### Network, operators and signal

In [ ]:
# SQL query
query = f"""
SELECT
  network,
  operator,
  COUNT(*) record_count,
  ROUND(AVG(signal),1) avg_netw_signal
FROM
  `{mobile_data_cleaned}`
GROUP BY 1,2
ORDER BY 3 DESC;
    """
# DataFrame name
df_name = "netw_oper_signal"

# Execute the query and store the result in the DataFrame
netw_oper_signal = query_df(query, df_name)

netw_oper_signal

In [ ]:
networks = netw_oper_signal['network'].nunique()
operators = netw_oper_signal['operator'].nunique()

display(Markdown(f"There are {networks} unique networks and {operators} distinct operators"))

Which (national) network has the highest activity recorded?

In [ ]:
# Group the DataFrame by the "network" column and calculate the total activity
network_activity = netw_oper_signal.groupby('network')['record_count'].sum().reset_index()

# Find the network with the highest total activity
max_activity_network = network_activity[network_activity['record_count'] == network_activity['record_count'].max()]

# Print the network with the highest total activity
max_activity_network

And the operator?

In [ ]:
# Group the DataFrame by the "operator" column and calculate the total activity
operator_activity = netw_oper_signal.groupby('operator')['record_count'].sum().reset_index()

# Find the operator with the highest total activity
max_activity_operator = operator_activity[operator_activity['record_count'] == operator_activity['record_count'].max()]

# Print the operator with the highest total activity
max_activity_operator

Which network/operator has the highest average signal?

In [ ]:
# Find the index of the row with the maximum "avg_netw_signal"
max_signal_index = netw_oper_signal['avg_netw_signal'].idxmax()

# Retrieve the corresponding row with the maximum "avg_netw_signal"
top_signal = netw_oper_signal.loc[max_signal_index]

# Display the row with the maximum "avg_netw_signal"
top_signal

Which network/operator has the highest average signal among the top 25% of recorded activities?

In [ ]:
# Calculate the threshold for the top 25% percentile of "record_count"
threshold = netw_oper_signal['record_count'].quantile(0.75)

# Filter the DataFrame to select rows with "record_count" greater than or equal to the threshold
top_25_percentile = netw_oper_signal[netw_oper_signal['record_count'] >= threshold]

# Find the row with the maximum "avg_netw_signal" within the filtered DataFrame
max_avg_netw_signal_row = top_25_percentile.loc[top_25_percentile['avg_netw_signal'].idxmax()]

# Display the row with the maximum "avg_netw_signal"
max_avg_netw_signal_row

Top Signal Strength by Operator and Network (top 10% record_count, excluding null values)

In [ ]:
# SQL query: Top Signal Strength by Operator and Network (top 10% record_count, excluding null values)
query = f"""
WITH Top10Percent AS (
  
  # Subquery to prepare data to calculate the number of operators for each network
  SELECT
    network,
    num_operator,
    record_count,
    RANK() OVER (ORDER BY record_count DESC) AS record_count_rank,
    avg_signal,
    quartile
  FROM (
    SELECT
      LOWER(network) AS network,
      
      # Calculate the number of distinct operators for each network
      COUNT(DISTINCT LOWER(operator)) AS num_operator,
      
      COUNT(*) AS record_count,
      ROUND(AVG(signal), 1) AS avg_signal,
      NTILE(10) OVER (ORDER BY COUNT(*) DESC) AS quartile
    FROM
      `{mobile_data_cleaned}`
    WHERE
    
    # Exclude rows with network 'null' (stored as string)
      network != 'null'
    GROUP BY 1
  )
)

SELECT
  network,
  num_operator,
  record_count,
  record_count_rank,
  avg_signal
FROM
  Top10Percent
WHERE
  quartile = 1
ORDER BY
  avg_signal DESC;
    """
# DataFrame name
df_name = "net_oper_signal"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Top Network and Operator by Record Count for Each Province

In [ ]:
# SQL query
query = f"""
WITH ProvinceActivity AS (
  SELECT
    CASE
      WHEN LEFT(CAST(postal_code AS STRING), 2) = '08' THEN 'Barcelona'
      WHEN LEFT(CAST(postal_code AS STRING), 2) = '25' THEN 'Lleida'
      WHEN LEFT(CAST(postal_code AS STRING), 2) = '17' THEN 'Girona'
      WHEN LEFT(CAST(postal_code AS STRING), 2) = '43' THEN 'Tarragona'
      ELSE 'Not defined'
    END AS province,
    LOWER(network) AS network,
    LOWER(operator) AS operator,
    COUNT(*) AS record_count
  FROM `{mobile_data_cleaned}`
  GROUP BY province, network, operator
)

# Find the Rank of Network and Operator by Record Count for Each Province
, RankedNetwork AS (
  SELECT
    province,
    network,
    operator,
    record_count,
    RANK() OVER (PARTITION BY province ORDER BY record_count DESC) AS network_rank
  FROM ProvinceActivity
)

, RankedOperator AS (
  SELECT
    province,
    network,
    operator,
    record_count,
    RANK() OVER (PARTITION BY province ORDER BY record_count DESC) AS operator_rank
  FROM ProvinceActivity
)

# Select the Top Network and Top Operator for Each Province
SELECT
  p.province,
  n.network AS top_network,
  o.operator AS top_operator
  #n.record_count AS network_record_count,
  #o.record_count AS operator_record_count
FROM RankedNetwork n
JOIN RankedOperator o ON n.province = o.province AND n.network_rank = 1 AND o.operator_rank = 1
JOIN (SELECT DISTINCT province FROM ProvinceActivity) p ON n.province = p.province
ORDER BY p.province;
    """
# DataFrame name
df_name = "top_net_and_ope_by_province"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

### Description and activity

Description:
    
    - STATE_IN_SERVICE (0),
    - STATE_OUT_OF_SERVICE (1),
    - STATE_EMERGENCY_ONLY (2),
    - STATE_POWER_OFF (3)
    
User Activity:

    - IN_VEHICLE
    - STILL
    - ON_FOOT
    - TILTING
    - UNKNOWN
    - ON_BICYCLE

Activity Rank by Description with Overall Rank

In [ ]:
# SQL query
query = f"""
# Activity Rank by Description with Overall Rank
WITH ActivityRank AS (
  SELECT
    description,
    activity,
    RANK() OVER (PARTITION BY description ORDER BY COUNT(*) DESC) AS rank_by_description,
    COUNT(*) AS record_count
  FROM
    `{mobile_data_cleaned}`
  GROUP BY 1, 2
)

SELECT
  description,
  activity,
  rank_by_description,
  #record_count,
  RANK() OVER (ORDER BY rank_by_description, record_count DESC) AS overall_rank
FROM ActivityRank
ORDER BY 1, 4 ASC;
    """
# DataFrame name
df_name = "descr_act_rank"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)

Calculate activity rank by description and activity, including most frequent town and overall rank

In [ ]:
# SQL query
query = f"""
# Subquery to calculate the rank of activities by description
WITH ActivityRank AS (
  SELECT
    description,
    activity,
    RANK() OVER (PARTITION BY description ORDER BY COUNT(*) DESC) AS rank_by_description,
    COUNT(*) AS record_count
  FROM
    `bigquery-public-data.catalonian_mobile_coverage_eu.mobile_data_2015_2017`
  GROUP BY description, activity
),

# Subquery to find the most frequent town for each unique pair of description and activity
MostFrequentTown AS (
  SELECT
    description,
    activity,
    town_name,
    RANK() OVER (PARTITION BY description, activity ORDER BY COUNT(*) DESC) AS town_rank
  FROM
    `{mobile_data_cleaned}`
  GROUP BY description, activity, town_name
)

# Main query to combine the results and calculate overall rank
SELECT
  ar.description,
  ar.activity,
  ar.rank_by_description,
  RANK() OVER (ORDER BY ar.rank_by_description, ar.record_count DESC) AS overall_rank,
  mft.town_name AS most_frequent_town
FROM ActivityRank ar
# Join with the MostFrequentTown subquery to include the most frequent town
JOIN MostFrequentTown mft ON ar.description = mft.description AND ar.activity = mft.activity
# Filter for the most frequent town
WHERE mft.town_rank = 1 
ORDER BY 1, 3 ASC;
    """
# DataFrame name
df_name = "descr_act_rank"

# Execute the query and store the result in the DataFrame
query_df(query, df_name)